<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Node js Server</title>
    <style>
         .wrap{
             width: 90%;
             margin: auto;
             padding: 15px;
             text-align: center;
             font-weight: 600;
             background-color: #dddeee;
         }
    </style>
</head>
<body>
    
    <div class="wrap">
          <h1>Node Js server Home page </h1>
          <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eligendi perspiciatis error est nam aliquid dolorum, culpa itaque rem aspernatur blanditiis earum quisquam! Earum odit nesciunt sunt pariatur? At numquam aut asperiores iure repellendus reiciendis alias expedita dolor exercitationem quae esse officia eos facere ducimus, adipisci quasi molestias qui soluta.
          </p> 
    </div>

 

</body>
</html>